@import "core/variables";
@import "core/reset";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "pages/index";

.game-section {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  &__background {
    height: 20px;
    width: 20px;
    border: 0.5px solid grey;
  }
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  height: 80px;
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin-left: 50px;
  &__background {
    height: 20px;
    width: 20px;
    border: 0.5px solid grey;
  }
}
