@import "core/variables";
@import "core/reset";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "pages/index";

.game-section {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  height: 80px;
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
  margin-left: 50px;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
